* {
  font: inherit;
  box-sizing: border-box;
  color: #283b62;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 100%;
  display: block;
  font-family: "Josefin Sans", sans-serif;
  margin: 3vh;
}
.container {
  position: relative;
}
#panel {
  width: 30vw;
  border: 5px solid #283b62;
  padding: 2vw;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  opacity: 0.7;
  max-height: 0;
  transition: max-height 0.15s ease-out;
  overflow: hidden;
}
#export {
  position: absolute;
  top: 70%;
}
#panel span {
  display: none;
}
#panel.toggle span {
  display: block;
  float: right;
  cursor: pointer;
}
#panel.toggle span::before {
  content: "Show ";
}
#panel.toggle.show-panel span::before {
  content: "Hide ";
}
#panel.show-panel {
  max-height: 100%;
  overflow: scroll;
  transition: max-height 0.25s ease-in;
}
.panelDescription {
  padding-top: 20px;
}
.popup {
  background-color: #f7fafc;
}

#mapid {
  height: 96vh;
  /* border: 5px solid #283b62; */
  z-index: 0;
}

b {
  font-weight: 700;
}
span.sr-only {
  display: none;
}
